html {
  background-color: #3f90bf;
}

nav {
    position: fixed;
    top: 0;
    width: 1160px;
    background-color: #003f63;
    padding: 10px 20px;
    border-bottom: 2px solid black; /* Adds a bottom border */
    text-align: center;
    z-index: 1000; /
}
nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

h1 {
  font-size: 50px;
  font-family: "Playwrite GB J", cursive;
  text-align: center;

  margin: 0;
  padding: 20px 0;
  color: #787878;
  text-shadow: 3px 3px 1px black;
}


p {
  font-size: 16px;
  line-height: 2;
}
p .oxanium-<uniquifier> {
  font-family: "Oxanium", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}


body {
  width: 1600;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 0 20px 20px 20px;
  border: 5px black;

  padding-top: 60px; /* adjust to the height of navbar */
}
